body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
}

.add {
    text-align: center;
}

.listElement {
    display: flex;
    height: 50px;
    justify-content: center;
}

.listElement p {
    padding: 20px;
}

.listElement input {
    margin-top: 34px;
    height: 20px;
}

.listElement button {
    height: 30px;
    margin-top: 30px;
}